/result
/.direnv
target/aarch64-linux-android/debug/.cargo-lock
*.TAG
target/aarch64-linux-android/debug/.fingerprint/async-compat-1b41438ec26853be/dep-lib-async_compat
target/.rustc_info.json
*.timestamp
/target/aarch64-linux-android/debug/.fingerprint
/target/aarch64-linux-android/debug/build
/target/aarch64-linux-android/debug/deps
/target/aarch64-linux-android/debug/incremental
*.d
target/aarch64-linux-android/release/.cargo-lock
/target/aarch64-linux-android/release/.fingerprint
/target/aarch64-linux-android/release/build
/target/aarch64-linux-android/release/deps
/target/debug/.fingerprint
target/debug/.cargo-lock
/target/debug/build
/target/debug/deps
*.rmeta
/target/debug/incremental
target/release/.cargo-lock
target/debug/~libpkarr.dll
/target/release/.fingerprint
/target/release/build
/target/release/deps
/target/x86_64-linux-android/debug/.fingerprint
/target/x86_64-linux-android/debug/build
/target/x86_64-linux-android/debug/deps
/target/x86_64-linux-android/debug/incremental
/target/x86_64-linux-android/release/.fingerprint
/target/x86_64-linux-android/release/build
/target/x86_64-linux-android/release/deps
target/x86_64-linux-android/debug/.cargo-lock
target/release/liblibpkarr.dll.a
target/debug/liblibpkarr.dll.a
target/x86_64-linux-android/release/.cargo-lock
/target/debug/examples
